
* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #008888;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}


.second-component {
  background:  #008888; /* Change the background color as desired */
  padding: 1em;
  margin-top: 20px;
  display: flex; /* Adjust spacing between components */
}
.container {
  display: flex;
  justify-content:center;

}
.same{

  margin-left: 0.75rem; /* mx-3 */
  margin-right: 0.75rem; /* mx-3 */

  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem; /* px-5 */

  padding-top: 0.75rem; /* py-3 */
  padding-bottom: 0.75rem; /* py-3 */
}





